<template>
    <div>
        Web SDK
    </div>
</template>

<script>

import client from './../../'

export default {
    async created() {
        await client.init({
                host: 'localhost:7777',
                version: '1.0.0',
                app: 'devapp',
                environment: 'testenvironment',
                network: 'testnetwork',
                secure: false,
            },
        );

        client.onNetworkOffline(async () => {
            console.log('network offline');
        });

        client.onNetworkOnline(async () => {
            console.log('network online');
        });

        let runRequest = async () => {
            let customerapp = await client.connect('customerapp-1');
            // let res = await customerapp.http('post', '/login', null, JSON.stringify({ username: 'identadmin', password: 'ident admin' }));
            console.time('asdf');
            let res = await customerapp.http('get', '/lang', { project: 'crm', lang: 'DE' });
            console.timeEnd('asdf');

            console.log(res);
        }

        if (client.isNetworkOnline()) {
            runRequest();
        }
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
